.logo-container {
    background-color: #2e2e30;
    width: 120px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container::before {
    background-color: #2e2e30;
    content: "";
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    transform: rotate(60deg);
}

.logo-container::after {
    background-color: #2e2e30;
    content: "";
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    transform: rotate(-60deg);
}
